.card {
	width: 100%;
	cursor: pointer;
}

.card .image_box {
	width: 100%;
	margin-bottom: 12px;
	overflow: hidden;
}

.card .image_box img {
	width: 100%;
	object-fit: cover;
}

.card .text_box .card_category {
	font-size: 18px;
	color: gray;
	margin-bottom: 8px;
}

.card .text_box .card_title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 12px;
}

.card .text_box .card_sub_title {
	font-weight: 600;
	margin-bottom: 8px;
}

.card .text_box p {
	font-size: 20px;
	line-height: 110%;
}
