.product_detail {
	width: 100%;
}

.product_detail .content_info {
	padding: 36px 102px;
}

.product_detail .content_info .path_box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
}

.product_detail .content_info .path_box ul {
	list-style: none;
	margin: 0;
	display: flex;
}

.product_detail .content_info .path_box li {
	font-size: 18px;
	font-weight: 400;
	padding: 5px 6px;
}

.product_detail .content_info .path_box li span {
	color: darkgray;
}

.product_detail .content_info .path_box li span:hover {
	cursor: pointer;
	color: black;
	text-decoration: underline;
}

.product_detail .content_info .path_box .history_back_btn {
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
}

.product_detail .content_info .data_info {
	display: flex;
	width: 100%;
}

.product_detail .content_info .data_info .mini_image_box {
	width: 7%;
	padding: 5px;
}

.product_detail .content_info .data_info .image_wrap {
	width: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border: 1px solid darkgray;
	padding: 5px;
}

.product_detail .content_info .data_info .image_wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product_detail .content_info .data_info .image_box {
	width: 33%;
	padding: 5px;
}

.product_detail .content_info .data_info .data_detail {
	width: 60%;
	padding: 5px 32px;
}

.product_detail .content_info .data_info .data_detail h1 {
	font-size: 42px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 18px;
}

.product_detail .content_info .data_info .data_detail span {
	font-size: 24px;
	font-weight: 800;
	color: gray;
}

.product_detail .content_info .data_info .data_detail hr {
	margin-bottom: 18px;
}

.product_detail .content_info .data_info .data_detail ul {
	list-style: none;
}

.product_detail .content_info .data_info .data_detail li {
	font-size: 24px;
	margin-bottom: 12px;
}
.product_detail .content_info .data_info .data_detail li:first-child {
	font-weight: 700;
}

.product_detail .content_info .data_info .data_detail li i {
	color: green;
}

.product_detail .content_info .data_info .data_detail .add_cart {
	margin-top: 42px;
	display: flex;
}

.product_detail .content_info .data_info .data_detail .add_cart input {
	width: 48px;
	text-align: right;
	font-size: 20px;
	margin-right: 5px;
	color: gray;
}

.product_detail .content_info .data_info .data_detail .add_cart .black_btn {
	cursor: pointer;
	border-radius: 26px;
}

.product_detail .content_info .data_info .data_detail .add_cart .black_btn span {
	color: #FFF;
}

.product_detail .content_info_detail {
	width: 100%;
	background-color: lightgray;
	padding: 32px 152px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.product_detail .content_info_detail .detail_left {
	width: 40%;

}

.product_detail .content_info_detail .detail_right {
	width: 55%;
}

.product_detail .content_info_detail h4 {
	font-size: 32px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 24px;
}

.product_detail .content_info_detail p {
	font-size: 20px;
	margin-bottom: 32px;
}

.product_detail .content_info_detail dl {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	font-size: 20px;
}

.product_detail .content_info_detail dt {
	width: 30%;
	color: gray;
	font-weight: 700;
}
.product_detail .content_info_detail dd {
	width: 70%;
	margin: 0;
}

.product_detail .content_info_detail dd:last-child {
	margin-top: 24px;
}

.product_detail .content_info_detail dd img {
	width: 50%;
}

.product_detail .other_product {
	width: 100%;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 48px;
}

.product_detail .other_product h4 {
	font-size: 42px;
	font-weight: 600;
}

.product_detail .other_product .product_wrap {
	width: 35%;
	display: flex;
}