.visit {
	padding: 24px 92px 108px 92px;
	width: 100%;
	height: 100%;
}

.visit .header_box .header {
	position: initial;
}

.visit .header_box .header nav {
	padding-left: 0;
}

.visit p {
	font-size: 20px;
	margin: 0;
}

.visit hr {
	margin: 0;
	border: 1.5px solid black;
}

.visit .title_box {
	margin-right: 30%;
	margin-bottom: 72px;
}

.visit .title_box h1 {
	font-size: 108px;
	font-weight: 600;
	margin-bottom: 24px;
}

.visit .page_nav {
	border-bottom: 1.5px solid black;
}


.visit .page_nav.sticky {
	position: sticky;
	left: 92px;
	top: 0;
	width: 100%;
	background-color: rgb(255, 206, 1);
	z-index: 100;
}