* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 98px;
}

.bg_color00 {
  background-color: rgb(255,206,1);
}
.bg_color01 {
  background-color: #FFF;
}
.bg_color02 {
  background-color: rgb(0,153,217);
}

.black_btn {
  background-color: #000;
  color: #FFF;
  width: fit-content;
  padding: 8px 16px;
  text-align: center;
  border-top-left-radius: 18px 20px;
  border-bottom-left-radius: 18px 20px;
  border-top-right-radius: 18px 20px;
  border-bottom-right-radius: 18px 20px;
  display: flex;
  align-items: center;
}

/* li 안에 span 태그에 줄것!! */
.move_underline {
  display: inline-block;
	cursor: pointer;
}

.move_underline::after {
  display:block;
  content: '';
  border-bottom: solid 2px #000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
	transform-origin:  0% 50%; 
}

.move_underline:hover::after {
  transform: scaleX(1);
}

:root {
  background-color: rgb(255,206,1);
}