.product_item {
	width: 100%;
	height: 100%;
	margin-right: 32px;
	cursor: pointer;
}

.product_item .image_box {
	width: 100%;
	aspect-ratio: 1/1;
	overflow: hidden;
	padding: 10px;
	border: 1px solid gray;
}

.product_item .image_box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product_item .image02 {
	display: none;
}

.product_item:hover .image01 {
	display: none;
}

.product_item:hover .image02 {
	display: block;
}

.product_item h3 {
	margin: 6px 4px 6px 0;
	font-size: 24px;

}
.product_item:hover h3 {
	text-decoration: underline;
}

.product_item p {
	margin: 6px 4px 6px 0;
}

.product_item span {
	font-size: 22px;
	font-weight: 700;
}

